name: Release a new version

on:
  release:
    types:
      - published

env:
  NODE_OPTIONS: '--max-old-space-size=8192'

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish-to-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.target_commitish }}
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          cache: yarn
          node-version: ${{ vars.NODEJS_VERSION }}
          registry-url: 'https://registry.npmjs.org'
          always-auth: true

      - name: Configure Yarn for npm registry
        run: |
          yarn config set npmRegistryServer https://registry.npmjs.org
          yarn config set npmAlwaysAuth true
          yarn config set npmAuthToken "${NODE_AUTH_TOKEN}"

      - name: Publish to NPM
        run: yarn publish --non-interactive